Directorios de Pythonpycache/*.pycvenv/.venv/Archivos de Flask/Bases de datos*.sqlite*.dbinstance/Archivos de sistema/SO.DS_StoreThumbs.dbClaves de seguridad y variables de entorno (CRUCIAL para seguridad).env.flaskenvsecret_key.txt
